.mat-form-field {
  width: 100% !important;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mat-checkbox {
  margin-right: 1em !important;
}


button { 
  margin-top: 1em;
}